@import url("./theme.css");

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.bg-color-light{
    background-color: green !important;
}

/* Background Colors */
.bg-color-primary {
    background-color: var(--primary) !important;
}

.bg-color-accent {
    background-color: var(--accent) !important;
}


/* Font Sizes */
.fs-8{
    font-size: 0.8rem;
}


